* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    font-style: initial;
    
      
  }
  
  body {
    background-color: rgb(235, 217, 220);
    
  }
 
 
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 530px;
    min-height: 30rem;
    min-width: 50rem;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 20px;
    padding-bottom: 40px;
  }
  
  h1 {
    margin: 54px 0;
    color: rgb(235, 224, 229);
    font-size: 40px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 40px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 10px 0.5px 0.5px 0 4px;
    border: 2px solid #f3d1ec;
    outline: none;
    width: 400px;
    background: transparent ;
    color: rgb(240, 222, 222);
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    margin-top: auto;
    font-size: 100%;
  }
  
  .todo-input::placeholder {
    color: #f3b7b7;
  }
  
  .todo-button {
    padding: 18.5px;
    border: 2px solid rgb(68, 6, 6);
    border-radius: 10px 0.5px 0.5px 0 4px;
    cursor: pointer;
    outline: none;
    background: rgb(228, 118, 137);
    color: rgb(245, 240, 243);
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    outline: none;
    border-color: #f3d1ec;
  }
  

  
  .todo-button.edit {
    background: #161a2b;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    color: rgb(29, 26, 26);
    background: linear-gradient(
      90deg,
      rgb(252, 240, 249) 0%,
      rgb(233, 154, 154) 100%
    );
    font-style: unset;
    font-size: larger;
    padding: 15px;
    border-radius: 10px;
    width: 75%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgb(252, 240, 249) 0%,
      rgb(233, 154, 154) 100%
    );
    font-style: unset;
    font-size: larger;
  }
  
  .todo-row:nth-child(4n + 2) {
    color: #161a2b;
    background: linear-gradient(
      90deg,
      rgb(252, 240, 249) 0%,
      rgba(233, 154, 154) 100%
    );
    font-style: unset;
    font-size: larger;
  }
  
  .todo-row:nth-child(4n + 3) {
    color: #161a2b;
    background: linear-gradient(
      90deg,
      rgb(252, 240, 249)
      rgb(233, 154, 154)
    );
    font-style: unset;
    font-size: larger;

  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }